body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.add-task-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.add-task-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  z-index: 2;
  width: 400px;
}

.add-task-popup label {
  display: block;
  margin-bottom: 10px;
}

.add-task-popup input,
.add-task-popup textarea,
.add-task-popup select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.add-task-popup button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.add-task-popup button:hover {
  background-color: #45a049;
}

.kanban-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.column {
  flex: 1;
  min-width: 300px;
  margin: 10px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.task {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.task-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.task-description {
  margin-bottom: 10px;
  color: #666;
}

.task-assignedTo {
  font-style: italic;
  color: #888;
}

.task-status {
  color: #333;
}

@media (max-width: 768px) {
  .column {
    flex: 100%;
    min-width: auto;
  }
}
